nav {
    background-color: #6062CF;
    color: #EEF1F5;
    padding: 10px 0;
    display: flex;
    
    justify-content: space-evenly;
}
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: space-around;
}
  
li {
    display: inline;
    margin-right: 20px;
}
  
a {
    color: #EEF1F5;
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}
  